<%= form_for(@shipment) do |f| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% @shipment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :buyer %><br>
    <%= f.text_field :buyer %>
  </div>
  <div class="field">
    <%= f.label :ship_date %><br>
    <%= f.date_select :ship_date %>
  </div>
  <div class="field">
    <%= f.label :origin %><br>
    <%= f.text_field :origin %>
  </div>
  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :total_weight %><br>
    <%= f.text_field :total_weight %>
  </div>
  <div class="field">
    <%= f.label :total_volumn %><br>
    <%= f.text_field :total_volumn %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.text_field :priority %>
  </div>
  <div class="field">
    <%= f.label :order_type %><br>
    <%= f.text_field :order_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
